table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}

td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }

tr:nth-child(even) { background-color: #dddddd; }
.post-id{width:2%} .post-title{width:30%} .post-content{width:30%} .post-date{width: 30%}
