<?php
/**
 * @var Show $block
 */
use Kotsan\Blog\Block\Post\Show;
$posts = $block->showPostById();
?>
<br>
<br>
<div class="id"><?php echo $posts->getId() ?></div>
<div class="content"><?php echo $block->getCmsFilterContent($posts->getContent()) ?></div>
<div class="date_created"><?php echo $posts->getCreatedDatetime() ?></div>
<div class="date_update"><?php echo $posts->getUpdatedDatetime()?></div>
<hr>

