<?php
/** @var $block \Custom\Custom\Block\Index\Index */
$product = $block->getProductById(643);

$products = $block->getProducts();
?>

Hello index/index.phtml
<br>
<?php echo $product->getName(); ?>
<br>
<?php foreach ($products as $item): ?>
    <?php echo $item->getId() . ' - ' . $item->getName();?> <br>
<?php endforeach; ?>
