<?php
/**
 * @var $block AddPost
 */

use Blog\Articles\Block\Articles\AddPost;

?>

<br>
<h1><?php echo __("Test")?></h1>
<br>
<table>
    <tr>
        <th class="post-id"><?php echo __("Id")?></th>
        <th class="post-title"><?php echo __("Title")?></th>
        <th class="post-content"><?php echo __("Content")?></th>
        <th class="post-date"><?php echo __("Date")?></th>
        <th class="post-author"><?php echo __("Author")?></th>
        <th >dsdsdsdsdsds</th>
    </tr>
    <?php
    if ($block->getHelper()->Test3()) {
        echo  $block->getHelper()->Test3();
    }?>
    <?php foreach ($block->getArticles()->getItems() as $key=> $post):   ?>
              <tr>
                <td> <?php echo $post->getArticlesId() ?>  </td>
                <td> <?php echo $post->getTitle() ?>   </td>
                <td> <?php echo $post->getContent() ?> </td>
                <td> <?php echo $post->getDate() ?>    </td>
                <td> <?php echo $post->getAuthor()?>  </td>
                  <td ><a href="<?php echo $block->getUrl("blog/articles/deletearticles", ["id" => $post->getArticlesId()]) ?>">DElete</a> </td>
             </tr>
  <?php endforeach; ?>
</table>


